services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    image: ghcr.io/algomasterllc/hanzomaster.dev:latest
    platform: linux/amd64
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
